<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/src/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/src/styles/main.css">
    </head>
    <section class="main">
        <section class="jumbotron">