<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dependency wheel</title>
        <link rel="stylesheet" href="/src/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/src/styles/main.css">
        <script src="/src/scripts/underscore.js"></script>
        <script src="/src/scripts/jquery.js"></script>
        <script src="/src/scripts/d3.min.js"></script>
        <script src="/src/scripts/d3.dependencyWheel.js"></script>
    </head>
    <section class="main">
        <section class="jumbotron">