<% include ../basis/header %>

<section class="index">
    <h2>Dependency wheel</h2>
    <table class="table main-list">
        <% for (var doc in docs){ %>
            <%- include('../elems/doc', {
                    title: doc,
                    date: docs[doc] 
                }); %>
        <% }; %>
    </table>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br>
        <button class="btn btn-primary">Upload</button>
    </form>
</section>

<% include ../basis/footer %>