<% include ../basis/header %>

<article id="chart-data" data-doc='<%= file %>'></article>
<section class="charts"></section>
<script src="/src/scripts/list.js"></script>

<% include ../basis/footer %>