<tr>
    <td><%= title %></td>
    <td><a href=<%= "/read/" + title %>><button class="btn btn-primary btn-sm">Смотреть</button></%></a></td>
    <td><a href=<%= "/delete/" + title %>><button class="btn btn-danger btn-sm">Удалить</button></%></a></td>
</tr>