<tr>
    <td><%= doc %></td>
    <td><a href=<%= "/read/" + num %>><button class="btn btn-primary btn-sm">Смотреть</button></%></a></td>
    <td><a href=<%= "/delete/" + num %>><button class="btn btn-danger btn-sm">Удалить</button></%></a></td>
</tr>